* {
	outline: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
	width: 1100px;
}

.text-center {
	text-align: center;
}
.text-success {
	color: #3c763d;
}
.text-error {
	color: #A94442;
}

#formPalindrome {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 40px;
}
#formPalindrome label {
	display: block;
	font-weight: 600;
}
#formPalindrome input {
	width: 100%;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#formPalindrome button {
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
	width: 100%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 14px 0 0;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#formPalindrome button:hover {
	background-color: #45a049;
}

#resultPalindrome {
	margin: 25px;
	text-align: center;
	text-transform: uppercase;
}